
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;500;600;700&display=swap');
:root{
    --light-black-color: #3a3939;
    --common-light-text-color: #929292;
}

*{
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    min-height: 350vh;
    
}

/*********************** HEADER **************************/
#header{
    max-width: 1280px;
    display: flex;
    height: 130px;
    justify-content: space-between;
    padding: 8px;
    margin: 0 auto;
    /* border: 2px solid black; */
}   

/* StudySyncLogo */
#StudySyncLogo{
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
#logo_anchor{
    display: flex;
    justify-content: center;
    align-items: center;
}
#logoText{
    font-size: 2rem;
    font-weight: 630;
    color: var(--light-black-color);
    
}
#StudySyncImage{
    height: 27px;
    margin-right: 5px;
}

/* NavBar */
#navbar{
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between; 
    align-items: center;
    height: 100%;
    gap: 30px;
}
@media screen and (max-width:650px){
    #navbar{
        display: none;
    }
}
.nav-element{
    font-size: 1.11rem;
    font-weight: 630;
    color: rgb(126, 125, 125);
}

/* Contact Us */
#Contact{
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
}
.purple-button{
    height: 45px;
    width: 130px;
    background-color: rgb(110, 101, 236);
    color: white;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    transition: 0.43s ease;
}
.purple-button:hover{
    background-color: rgb(66, 57, 235);
}

@media  screen and (max-width : 700px){
    #Contact{
        display:none;
    }
}

/******************* HERO SECTION ****************/
#hero-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 50px;
    padding: 10px;
    margin-bottom: 30px;
}
/* Introduction Page */
#introduction-page{
    display: flex;
    justify-content: space-between;
    gap: clamp(20px,5vw,70px);
    max-width: 1280px;
}
@media screen and (max-width: 850px){
    #introduction-page{
        flex-direction: column;
    }
}

/* introduction-text-section */
#text-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 30px;
    animation: slidefromleft 1s ease forwards;
    opacity: 0;
}
@keyframes slidefromleft{
    0%{
        opacity: 0;
        transform: translateX(-100%);
    }
    100%{
        opacity: 1;
        transform: translateX();
    }
}

#proud-text{
    color: rgb(110, 100, 250);
    font-size: 1.13rem;
    font-weight: 600;
}
#introduction-title{
    font-size: 3.5rem;
    font-weight: 700;
    color: var(--light-black-color);
}
.common-light-text{
    color: var(--common-light-text-color);
    font-size: 1.08rem;
    text-align: justify;
}
#introduction-buttons{
    display: flex;
    justify-content: start;
    column-gap: 30px;
}
.grey-button{
    height: 45px;
    width: 130px;
    background-color: rgb(75, 75, 75);
    color: white;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    transition: 0.3s ease;
}
.grey-button:hover{
    background-color: #787878;
}

/* introduction-image-section */
#introduction-image{
    width:100%;
    max-width: 600px;
    height: auto;
    border-radius: 25px;
    opacity: 0;
    animation: fadeIn 2s forwards;
    animation-delay: 1s; /* delay */
}
@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

/* Trusted By Page  */
#trusted-by{
    opacity: 0;
    animation: slidefromleft 1s ease forwards;
}
/* trusted by title */
.common-sub-header{
    font-size: 2.1rem;
    font-weight: 700;
    color: var(--light-black-color);
}

/* companies bar */
#trusted-by{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 25px;
}

#companies-bar{
    display: flex;
    justify-content: space-around;
    width: 100%;
    min-width: 200px;
    padding: 20px;
    background-color: rgb(234, 234, 234);
    border-radius: 10px;
    margin: 0 auto;

}
@media screen and (max-width: 700px){
    #companies-bar{
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
    }
}
.company{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:7px;
    width: 150px;
    min-width: 0;
    /* border: 2px solid red; */
}
.company-logo{
    height: 24px;
    width: 24px;
    margin-right: 5px;
    /* border: 2px solid blue; */
}


/* COMPETITIVE-ADVANTAGE-CARD */
#COMPETITIVE-ADVANTAGE{
    background-color: rgb(240, 240, 240);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 30px;
}

/* Competitive Advantage Text */
#advantage-text{
    width: 100%;
    max-width: 800px;
    text-align: center;
}

/* Competititv Advantage Grid */
#advantage-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3,1fr);
    width: 100%;
    max-width: 800px;
    gap: 30px;
}
@media screen and (max-width: 600px){
    #advantage-grid{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6,1fr);
    }
}

.advantage-image-wrapper{
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 100px;
}
.advantage-image{
    height: 30px;
    width: 30px;
}
.advantage-card{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    color: white;
    width: 100%;
    max-width: 3500px;
    height: 230px;
    padding: 25px;
    border-radius: 20px;
}


.advantage-header{
    padding: 8px;
    font-size: 1.3rem;
    font-weight: 700;
}
.advantage-card-text{
    text-align: center;
}
/* card colors */
#personalise-learning{
    background-color: rgb(74, 144, 226);
}
#Affordability{
    background-color: rgb(255, 98, 137);
}
#IndustryPartnerships{
    background-color: rgb(252, 191, 88);
}
#InnovativeTechnology{
    background-color: rgb(68, 191, 195);
}
#ResponsiveSupport{
    background-color: rgb(119, 176, 93);
}
#AnalyticsandInsights{
    background-color: rgb(125, 120, 177);
}

/* TESTIMONIAL PAGE */
#testimonial-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 30px;
    max-width: 1280px;
    margin: 0 auto;
    min-height: 400px;
    padding: 10px;
}

#testimonial-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}
@media screen and (max-width:1024px){
    #testimonial-grid{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr ;
    }
}
@media  screen and (max-width: 800px) {
    #testimonial-grid{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
}

.testimonial-card{
    border: 1px solid rgb(100, 100, 100);
    max-width: 390px;
    border-radius: 20px;
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* box-shadow: 2px 2px 1px rgb(150, 150, 150); */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.testimonial-card:hover{
    transform: scale(1.08);
    border: 2px solid rgb(95, 95, 199);
    box-shadow: 4px 4px 5px rgb(150, 150, 150);
}

.testimonial-text{
    color: rgb(99, 99, 99);
    font-size: 0.92rem;
    text-align: center;
}

.testimonial-avatar{
    height: 80px;
    width: 80px;
    margin: 10px 0;
}

.testimonial-person-name{
    color: rgb(94, 94, 244);
    font-size: 1rem;
    font-weight: 600;
}

/* NEWSLETTER SECTION */
#newsletter-section{
    margin: auto ;
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: rgb(240, 240, 240); 
    max-width: 1280px;  
    gap: 30px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}    
#newsletter-image-wrapper{
    width: 640px;
    height: 350px;
    overflow: hidden;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
@media screen and (max-width:700px){
    #newsletter-image-wrapper{
        display: none;
    }
}
.newsletter-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#newsletter-everything{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:20px;
}
#newsletter-header{
    font-size: 2.5rem;
    font-weight: 700;
    color: #6366F1;
}
#email-input{
    margin-top: 15px;
    margin-bottom: 25px;
}

.input-email{
    height: 30px;
    max-width: 300px;
    margin-right: 5px;
    padding-left: 10px;
    border:1px solid #cbcbcb;
    border-radius: 5px;
}
#send-email-button{
    height: 30px;
    width: 80px;
    font-size: 0.8rem;
    font-weight: 400;
}

#newsletter-tns{
    font-size: 0.8rem;
}

/* FOOTER SECTION */
.footer-container{
    background-color: var(--background-color);
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    max-width: 1280px;
}

.footer{
    max-width: 1280px;
    padding:1.2rem 2.4rem;
    text-align: left;
    display: flex;
    justify-content: space-between;
    padding-right: 2rem;
}

.footer-top{
    width: 34%;
    display: flex;
    flex-direction: column;
    gap: 1.65rem;
}

.logo-svg{
    width: 2rem;
    height: 6rem;
}

.comp-logo{
    display: flex;
    justify-content: flex-start;
    margin-bottom: -1.9rem;
}
.logo-link{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    font-size: 1.28rem;
    font-weight: bold;
    color: black;
}
.social-icon{
    width: 1.5rem;
    height: 1.5rem;
}
.filler-text{
    font-size: 1rem;
    color: #777;
}
.social{
    display: flex;
    gap: 0.8rem;
}
.footer-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 58%;
    grid-gap: 5.67rem;
    padding-top: 2rem;
}

.footer-grid-heading{
    font-size: 1.05rem;
    font-weight: bold;
    color: var(--text-color);
}

ul{
    list-style-type: none;
}
.footer-link{
    color: #777;
    font-size: 0.875rem;
}
.footer-links-list{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}
.footer-grid-heading{
    margin-bottom: 1.65rem;
}

.footer-copyright{
    width: 100%;
    max-width: 1280px;
    color: #787878;
    font-size: 0.75rem;
    padding-bottom: 2rem;
    display: flex;
    justify-content: center;
    padding-top: 1.15rem;
    border-top: 1px solid #E5E7EB;
}

@media screen and (max-width:1080px) {
    .footer{
        flex-direction: column;
        align-items: center;
    }
    .footer-top{
        padding-left: 10rem;
    }
    .footer-grid{
        align-self: center;
        justify-content: space-evenly;
    }
}

@media screen and (max-width:850px) {
    .footer-top{
        padding-left: 1rem;
    }
    .footer-grid{
        grid-template-columns: repeat(2,1fr);
    }
}